<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Contact</title>
  </head>
  <body>
    <h1>Contact Details</h1>
    <p>Email: johnivanpuayap@gmail.com</p>
    <p>
      Linkedin:
      <a href="https://www.linkedin.com/in/johnivanpuayap/"
        >https://www.linkedin.com/in/johnivanpuayap/</a
      >
    </p>
    <p>
      GitHub:
      <a href="https://www.github.com/johnivanpuayap/"
        >https://www.github.com/johnivanpuayap/</a
      >
    </p>
    <hr />
    <form
      action="mailto:johnivanpuayap@gmail.com"
      method="post"
      enctype="text/plain"
    >
      <label for="name">Your Name:</label>
      <input type="text" name="name" id="name" />
      <br />
      <label for="email">Your Email:</label>
      <input type="text" name="email" id="email" />
      <br />
      <label for="message">Your Message:</label>
      <br />
      <textarea name="message" id="message" rows="10" cols="30"></textarea>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
