<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>John Ivan's Personal Site</title>
  </head>
  <body>
    <table cellspacing="20">
      <tr>
        <td>
          <img
            src="static/john ivan.png"
            alt="john ivan profile"
            width="300px"
            height="300px"
          />
        </td>
        <td>
          <h1>John Ivan Puayap</h1>
          <em>Computer Science Student</em>
          <p>
            I am a passionate and dedicated computer science student at Cebu
            Institute of Technology (CIT) in Cebu City, Philippines. With a
            strong affinity for problem-solving and technology, I have set my
            sights on becoming a skilled backend developer in the ever-evolving
            world of software engineering.
          </p>
        </td>
      </tr>
    </table>

    <hr />
    <h3>Education</h3>
    <ul>
      <li><strong>Saint Francis College </strong> (2011-2015)</li>
      <li><strong>University of the Philippines</strong> (2015-2018)</li>
      <li>
        <strong>Cebu Institute of Technology-University</strong> (2022-2025)
      </li>
    </ul>
    <hr />
    <h3>Skills</h3>

    <table cellspacing="10">
      <tr>
        <td colspan="2"><h4>Languages</h4></td>
        <td colspan="2"><h4>Databases</h4></td>
      </tr>
      <tr>
        <td>Python</td>
        <td>★★★☆☆</td>
        <td>MySQL</td>
        <td>★★★☆☆</td>
      </tr>
      <tr>
        <td>Java</td>
        <td>★★★★☆</td>
        <td>SQLite</td>
        <td>★★☆☆☆</td>
      </tr>
      <tr>
        <td>C++</td>
        <td>★★★☆☆</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>★★★☆☆</td>
      </tr>
      <tr>
        <td>CSS</td>
        <td>★★★☆☆</td>
      </tr>
      <tr>
        <td>JavaScript</td>
        <td>★★★☆☆</td>
      </tr>
      <tr>
        <td>PHP</td>
        <td>★★☆☆☆</td>
      </tr>
    </table>

    <hr />
    <h3>Personal Projects</h3>
    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://github.com/johnivanpuayap/MovieMatch"
              ><strong>Movie Match</strong></a
            >
          </td>
          <td>
            MovieMatch is your personalized movie recommendation app that helps
            you find the perfect movies to watch based on your preferences, with
            a fun swiping interface.
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://github.com/johnivanpuayap/CheapFlightFinder"
              ><strong>Cheap Flight Finder</strong></a
            >
          </td>
          <td>
            A Python program that notifies users via SMS using the Twilio API or
            via Email using SMTP library about budget-friendly flights searched
            using the Tequila Flight Search API.
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h3><a href="hobbies">Hobbies</a></h3>
    <h3><a href="contact">Contact Me</a></h3>
  </body>
</html>
